.mainPickupContainer{
display: flex;

margin-top: 80px;
background-color: #202020;
height: 100%;
flex-direction: column;
align-items: center;
}

.full-height{
    height: 100vh;

}

.btnPickupView{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnPickups{
width: 95%;
background: linear-gradient(to bottom,rgba(0, 0, 0, 0.42),rgba(128, 128, 128, 0.564));
border-radius: 10px;
height: 80px;
display: flex;
align-items: center;
justify-content: center;
color:green;
font-size: 20px;
font-weight: bold;

}

.btnPreviousPickupView{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnPreviousPickup{
width: 95%;
background: linear-gradient(to bottom,rgba(0, 0, 0, 0.42),rgba(128, 128, 128, 0.564));
border-radius: 10px;
height: 80px;
display: flex;
align-items: center;
justify-content: center;
color:white;
font-size: 20px;
font-weight: bold;
}

.googlemapView{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.googlemap{
    width: 95%;
}

.ItemlistView{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ItemlistViewFlower{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

.rowView{
    width: 95%;
    flex-wrap: inherit;
    --bs-gutter-x: 1rem;
    --bs-gutter-y: 1rem;
}

.flowerdiv{
    color: green;
    font-size: 18px;
}

.bulletFlower{
    margin-top: 20px;
    background-color: green;
    height: 16px;
    width: 15px;
    border-radius: 15px;
}

.bulletNonFlower{
    margin-top: 20px;
    background-color: yellow;
    height: 16px;
    width: 15px;
    border-radius: 15px;
}

.bulletMiscellanies{
    margin-top: 20px;
    background-color: whitesmoke;
    height: 16px;
    width: 15px;
    border-radius: 15px;
}
