.TipDeleveryMain{
    display: flex;
    justify-content: center;
    align-items: center;
}

.PlaceOrderText{
    display: flex;
    align-items: center;
    justify-content: center;
    color:green;
}




.TipAmountDetail{
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.AmountItems{
    width: 70%;
    height: 100%;
    border-radius: 10px;
    background-color: green;
    color: white;
    text-align: center;
}

.full-height{
    height: 100vh;
}

.labelDiv{
    margin-top: 100px;
    color: green;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.priceFont{
    font-size: 30px;
    margin-top: 10px;
}

.labelCustomDiv{
    margin-top: 10px;
    color:white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}