.flexWrapRow {
    margin-top: 10px;
    width: 100%;
  }

.scrolImage{
    display: flex;
    width: 100%;
  flex-direction: row;
  overflow: auto;
}

.crossIcon{
    text-align: center;
    align-self: center;
}

.lessIcon{
    margin-right: 5px;
    text-align: center;
    align-self: center;
}

.addIcon{
    text-align: center;
    align-self: center;
}

.priceDetail{
    color: white;
    text-align: center;
    align-self: center;
    border-radius: 10px;
}

.btnStreetAdress{
    background-color: slategrey;
    border-radius: 30px;
    color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.totalPrice{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top:30px;
    margin-bottom: 30px;
}

.PlaceOrderdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 30px;
}

.btnPlaceOrder{
    background-color: green;
    width: 50%;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productNameCard{
    color: white;
    text-align: center;
    align-self: center;
    border-width: 1px;
    border-style: double;
    border-color: #168000;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}