* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* body {
  display: flex;
  } */

.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}